body {background-color: rgb(0, 0, 105);
    font-family:Arial, Helvetica, sans-serif;}
header {text-align:center;
    font-size: 40px;
    color:aliceblue;}
nav {background-color:beige;
    font-size: 20px;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;}
article {background-color:beige;
    color:#000;}
#topic_content {font-size:35px;
    text-align: center;
    padding-top:25px;}
.info_section {font-size: 20px;
    text-align: left;
    padding-left:40px;
    padding-bottom:20px;}
.story_section {font-size: 20px;
    border-style: dotted;
    border-width: 10px;
    background-color:ghostwhite;
    text-align: left;
    padding-left:45px;
    padding-right:45px;
    padding-top:5px;
    padding-bottom:5px;}
footer {font-size:20px;
    color:aliceblue;
    text-align: center;}
pre {white-space: pre-line;}
img {float:right;
    margin-top: auto;
    margin-left:auto; 
    margin-right:auto;
    margin-bottom: auto;}